/* Dark Mode styles for the IUI Libraries theme. */

// Add utility variables for colors
@use '../utility' as utils;

@mixin dark-mode {
    body {
        color: utils.$cream;
        background-color: utils.$dark-mode-background;
    }

    a:not(.toolbar-icon) {
        color: utils.$cream;

        &:hover {
            color: utils.$cream;
            text-decoration: none;
        }
    }

    // Rivet dark mode overrides
    .rvt-header-global, .rvt-header-local {
        color: utils.$dark-mode-text;
        background-color: utils.$dark-mode-background;

        span.rvt-lockup__title, span.rvt-lockup__subtitle {
            color: utils.$dark-mode-text;
        }

        a {
            color: utils.$dark-mode-text;
            text-decoration: underline;

            &:hover {
                color: utils.$dark-mode-text;
                text-decoration: none;
            }
        }
    }

    .rvt-header-menu__submenu {
        background-color: #080808;
        border: 2px solid #016298;
        box-shadow: 0 0 15px #44697d;
    }

    .rvt-header-menu__item--current {

        .rvt-header-menu__link {
            color: utils.$cream;
            text-decoration: none;
        }
    }

    .rvt-header-local__title {
        color: utils.$dark-mode-text;
    }

    .rvt-sidenav__label {
        color: utils.$dark-mode-text;
    }

    .rvt-sidenav__link[aria-current="page"]{
        background-color: utils.$dark-mode-background;
    }

    .rvt-cta--button {
      color: #900;
      background-color: #900;
      border-color: #900;
    }
    .rvt-cta--button:hover {
      color: #900;
      background-color: #900;
      border-color: #fff;
    }

    .rvt-footer-base {
        color: utils.$cream;
        background-color: utils.$dark-mode-background;

        a {
            color: utils.$cream;
            text-decoration: underline;

            &:hover {
                color: utils.$cream;
                text-decoration: none;
            }
        }   
    }

    // IUI Libraries dark mode overrides
    .iui-page-summary {
        // Important needed to override Rivet's important tag.
        color: utils.$cream !important;
    }
}


// When the user has toggled dark mode on,
// or browser preference is set to dark mode, 
// and theme enables dark mode, apply these styles.
html[data-dark-mode="enabled"][data-theme="dark"] {
    @include dark-mode;
}