/* Dark Modes Styles for LibGuides */

html[data-dark-mode="enabled"][data-theme="dark"] {
    /* LibGuides overrides for dark mode */
    .s-lib-header h1{
        color: #ffffff;
    }

    .s-lib-box {
        background-color: #3b3b3b;
    }

    .s-lib-footer {
        background-color: #212121;
    }

    #s-lib-footer-login-link a {
        color: #d1d1d1
    }

    #s-lg-index-list .accordion-button {
        background-color: #eeeeee;
    }

    /* Rivet overrides for dark mode */
    .rvt-footer-base--light .rvt-footer-base__inner {
        border: none;
    }

    .rvt-header-global a {
        text-decoration: none;
    }

    .rvt-header-global a:hover {
        text-decoration: none;
        color: #ffffff;
    }


}