/* Variables for IUI Libraries themes */

// Rivet Color Classes are available as well: https://rivet.iu.edu/utilities/color/

// IU Colors
$cream: #ffffff;
$crimson: #999900;
$light-crimson: #f41c40;
$dark-crimson: #6d0808;
$light-cream: #f8efe2;
$dark-cream: #f5e3cc;
$light-gray: #eeeef0;
$dark-gray: #b9c1c6;
$iu-black: #072332;

// Dark Mode Colors
$dark-mode-background: $iu-black;
$dark-mode-text: $cream;
$dark-mode-link: #78acd9;
$dark-mode-header: #3b3b3b;

