/* Block Styles */

.iui-featured-hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.iui-sidebar-second-image-restrict {
    max-width: 16rem;
    height: auto;
}