/* Block Styles */

.iui-featured-hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.iui-sidebar-second-image-restrict {
    max-width: 16rem;
    height: auto;
}

.iui-first-container-xl #block-iui-libraries-primary-local-tasks {
    margin-left: auto;
    margin-right: auto;
    max-width: 86.25rem;
    padding-left: 5.0rem;
    padding-right: 1.5rem;
}